language: objective-c

before_install:
  - wget "https://raw.githubusercontent.com/enckse/travis-mono-scripts/master/configure.sh"
  - sudo chmod a+x configure.sh
  - ./configure.sh
  - ruby -e "$(curl -fsSkL raw.github.com/mxcl/homebrew/go)"
  - brew install hunspell

script: make test
